* {
    font-family: 'Helvetica';
}
    

html {
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    height: 100%;
}

.hero-container {
    position: relative;
    width: 30%;
    height: 100%;
    flex: 0 0 auto;
}

img[alt="logo"] {
    position: relative;
    scale: 30%;
    top: -150px;
    left: 0;
}

.logo-text{
    position: absolute;
    top: 12%;
    right: 20%;
    color: white;
    font-family: 'Helvetica';
    font-size: 70px;
    font-weight: 700;
}
.background-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.behind-logo {
    width: 100%;
    height: 200px;
    background-color: black;
    opacity: 0.6;
    position: absolute;
}

.hero-container > * {
    position: absolute;
}

.logo-text-container {
    position: relative;
    top: 25%;
}

.photo-credit {
    position: absolute;
    bottom: 32px;
    left: 30%;
    color: white;
}

.photo-credit > a {
    appearance: none;
    color: white;
}

.form-column > h1{
    padding-left: 32px;
    margin-right: 15%;
}

.form-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.columns {
    display: flex;
    flex-flow: column;
    gap: 10px;
    background-color: white;
    padding: 0px 32px 32px 32px; 
    box-shadow: 0px 5px 10px 1px rgb(136, 136, 136, 0.4); 
}

.left-column, 
.right-column {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.form-input-container {
    display: flex;
    flex-flow: column;
}

.input-columns {
    display: flex;
    gap: 32px;
}

.bottom-container {
    margin-top: 50px;
    margin-left: 32px;
}

.bottom-container > button {
    padding: 12px 48px;
    border: 0;
    font-size: normal;
    font-weight: bold;
    color: white;
    background-color: #596D48;
    border-radius: 8px;
}

.bottom-container > p > span {
    color: #596D48;
}

.bottom-container > p {
    font-size: 16px;
}

input {
    appearance: none;
    border: 1px solid #E5E7EB;
    width: 240px;
    height: 24px;
    border-radius: 3px;
}

input[type="password"] {
    border-color: red;
}
input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 1px 5px 10px rgba(136, 136, 136, 0.4);
}

.not-valid-text {
    font-size: 12px;
    color: red;
    font-weight: 500;
}

.green-border {
    border-color: green;
}

.hide-text {
    opacity: 0;
}