body {
    display: flex;
    margin: 0;
}

.hero-container {
    position: relative;
    width: 30%;
    flex: 0 0 auto;
}

.background-img {
    position: absolute;
    width: 100%;
}

.hero-logo-container {
    position: absolute;
    color: white;
    align-content: center;
}
.behind-logo {
    position: absolute;
    top: 250px;
    width: 100%;
    background-color: red;
    opacity: 0.6;
    height: 200px;
}

img[alt="logo"] {
    position: absolute;
    scale: 30%;
    top: 150px;
    right: center;
}

.hero-logo-container h1 {
    position: absolute;
    font-size: 20px;
    margin: 0;
}

.form-column {
    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: flex-start;
}

.columns {
    display: flex;
    gap: 10px;
}

.left-column, 
.right-column {
    display: flex;
    flex-flow: column;
    gap: 10px;
}